.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  border-width: 3px;
  border-color: #61dafb;
}

.buttonContainer { 
  display: flex;
  justify-content: center;
  align-items: center;

}

.circles {
  transform: rotate(-0.25turn);
  height: 30%;
  width: 80%;
  pointer-events: none;
}